<div class="accordion">
  <h2>
    <span class="accordion-icon icon-minus"></span> <span class="accordion-icon icon-plus"></span>Filter
  </h2>
</div>
<div class="customer_rows form-border">
  <div class="customer_rows">
    <div class="three columns">
      <div class="generals">
        <span>Select View Type:</span>
        <select class="orgSelect">
        </select>
      </div>
      <div class="generals">
        <span>Select Module:</span>
        <select class="orgSelect">
        </select>
      </div>
      <div class="generals2">
        <span>Select Table:</span>
        <select class="orgSelect">
        </select>
      </div>
      <div class="generals2">
        <span>Select Table:</span>
        <select class="orgSelect">
        </select>
      </div>
    </div>
    <div class="three columns">
      <div class="generals2">
        <input type="radio" value='individual'>Individual Search
        <input type="radio" value='bulk'>Bulk Search
      </div>
      <div>
        <div class="generals2">
          <select class="orgSelect">
          </select><input type="text" max="20" value="">
          <select style="width: 15%" class="orgSelect">
          </select>
        </div>
        <div class="generals2">
          <select class="orgSelect">
          </select><input type="text" max="20" value="">
          <select style="width: 15%" class="orgSelect">
          </select>
        </div>
        <div class="generals2">
          <select class="orgSelect">
          </select><input type="text" max="20" value="">
          <select style="width: 15%" class="orgSelect">
          </select>
        </div>
        <div class="generals2">
          <select class="orgSelect">
          </select>
          <input type="text" max="20" value="">
        </div>
      </div>



      <div>
        <div class="generals2">
          <select class="orgSelect">
          </select>
          <input type="text" max="20" value="">
          <select style="width: 15%" class="orgSelect">
          </select>
        </div>
        <div class="generals2">
          <select class="orgSelect">
          </select>
          <input type="text" max="20" value="">
          <select style="width: 15%" class="orgSelect">
          </select>
        </div>
        <div class="generals2">
          <select class="orgSelect">
          </select>
          <input type="text" max="20" value="">
          <select style="width: 15%" class="orgSelect">
          </select>
        </div>
        <div class="generals2">
          <select class="orgSelect">
          </select><input type="text" max="20" value="">
        </div>
      </div>
    </div>


    <div class="three columns">
      <div class="generals2">
        <input type="radio" value='individual'>Individual Search
        <input type="radio" value='bulk'>Bulk Search
      </div>
    </div>
  </div>
</div>

<!-- <div class="search">
  <div class="generals">
    <a class="btn btn-inline" (click)="getDataSet()">Get Data</a>
  </div>
</div> -->
