<nav class=" navbar-default" role="navigation">
	<div class="bs-example " style="margin-top:-1.5em;margin-left: 1em;width: 90%;" >
	    <ul class="nav nav-pills">
	        <li><a href="home.html#home">Home</a></li> <li class="pipeLine">|</li>
	        <li><a href="feedFwk2.html#home">Adhoc Feed</a></li> <li class="pipeLine">|</li>
	        
	        <li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Dashboard</a>
				<ul id="dashDropdownId"  class="dropdown-menu">
					<li><a href="summary.html" tabindex="0">Summary</a></li>
					<li><a href="corona-loads.html" tabindex="0">Loads</a></li>
					<li><a href="corona-reference.html" tabindex="0">Reference</a></li>
					<li><a href="corona-main.html" tabindex="0">Reports</a></li>		
				</ul>
			</li>
			  <li class="pipeLine">||</li>   
      <li><a href="userRoles.html">UserRoles</a></li>
      </ul>
      </div>
		</nav>